
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.puzzle {
  display: grid;
  grid-template-areas:
    "infoDisplay columnMarkers"
    "rowMarkers tiles";
  justify-content: center;
  background-color: var(--highlight-med);
  padding: var(--tile-margin);
  border-radius: calc(var(--tile-border-radius) + var(--tile-margin)*2) 45px;
  overflow: hidden;
}

.infoDisplay {
  grid-area: infoDisplay;
  font-size: 2rem;
  align-content: center;
  padding: 1.5rem;
  background-color: var(--highlight-low);
  margin: var(--tile-margin);
  border-radius: var(--tile-border-radius);
}

.iconParagraph {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 32px;
  height: 32px;
}

.tileGrid {
  background-color: var(--highlight-med);
  grid-area: tiles;
  display: grid;
  align-content: center;
  justify-content: center;
}

.tile {
  border-radius: var(--tile-border-radius);
  margin: var(--tile-margin);
}

.columnMarkers {
  grid-area: columnMarkers;
  display: flex;
}

.columnMarker {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  border-radius: var(--tile-border-radius);
  margin: var(--tile-margin);
}

.rowMarkers {
  grid-area: rowMarkers;
  display: flex;
  flex-direction: column;
}

.rowMarker {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  align-items: center;
  border-radius: var(--tile-border-radius);
  margin: var(--tile-margin);
}

.markerNumber {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.markerNumberCount {
  font-size: 2rem;
  position: absolute;
}

.markerNumberGroups {
  font-size: 1.5rem;
  position: absolute;
  right: 10%;
  bottom: 5%;
}

.colorButton {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  border-width: 0.5rem;
  
  margin: 1rem;
  background-color: white;
}