.container {
  position: absolute;
  background-color: var(--background);
  width: 30rem;
  height: 20rem;
  border-color: white;
  border-width: 0.5rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  transition-duration: 0.5s;

  button:hover {
    background-color: gray;
  }
  button:focus {
    background-color: rgb(83, 83, 83);
  }
}