@import "tailwindcss";

:root {
  --background: #191724;
  --foreground: #e0def4;
  --highlight-low: #21202e;
  --highlight-med: #292838;
  --game-border-radius: 20px;
  --tile-border-radius: 9px;
  --tile-margin: 3px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

